body {
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.4em;
}
.container {
  margin: auto;
  max-width: 800px;
}
.code-block pre {
  margin: 0px;
}
.added {
  background: lightgreen;
}

pre.terminal {
  color: white;
  background: black;
  padding: 1em;
  font-family: "Lucida Console", Monaco, monospace;
}
.terminal .green {
  color: lime;
}
.terminal .red {
  color: red;
}

a img {
  vertical-align: middle;
}

.centered {
    margin: auto;
    display: block;
    text-align: center;
}
